# Ignore
node_modules
**/node_modules/*
test-coverage
test-results
dist
npm-debug.log
runner/performance
runner/test
runner/src/server/utils
public
.yarn
smoke-tests/

# Ignore all the following files:
*.html
*.config.js
*.test.ts
*.jest.ts
*.test.tsx
*.test.js
*.json
*.yml
*.md
