.import-data-container {
    .no-data-cell {
        padding: 15px;
        text-align: center;
    }

    .file-title-width {
        width: 45%;
    }

    .custom-radio-input {
        width: 50px;
    }

    .vertical-align {
        position: relative;
        top: 7px;
    }
}

.custom-file-input {
    .label-container {
        position: relative;
    }
}
