{% from "header/macro.njk" import govukHeader -%}
{% from "footer/macro.njk" import govukFooter -%}

<!DOCTYPE html>
{% if formBuilder %}
  <html lang="{{ htmlLang | default('en') }}" class="govuk-template--rebranded">
  {% else %}
    <html lang="{{ htmlLang | default('en') }}" class="govuk-template--rebranded">
    {% endif %}

    <head>
      <base href="/">
      <meta charset="utf-8"/>
      <title>
        {% block pageTitle %}
          GOV.UK Site - Designer
        {% endblock %}
      </title>
      <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" defer="defer"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" defer="defer"></script> -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"/>
      {# Hardcoded value of $govuk-black #}
      <link rel="govuk-crown icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}">
      {# Hardcoded value of $govuk-black #}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">

      {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
      <meta property="og:image" content="{{ assetPath | default('/assets') }}/images/govuk-opengraph-image.png">

    </head>
    <body class="govuk-template__body">
      <script>
        window.previewUrl = '{{previewUrl}}'
        window.env = '{{env}}'
        window.providerChunkSize = '{{providerChunkSize}}'
        window.preprodPreviewUrl = '{{preprodPreviewUrl}}'{% if (id) %}
          window.id = '{{ id }}'
          window.playgroundMode = true
        {% endif %}
        {% if (newConfig) %}
          window.newConfig = {{ newConfig }}
        {% endif %}
      </script>

      {% block header %}
        {% include "includes/home-accessibility-header.html" %}
      {% endblock %}

      {% block content %}
        <h1 class="govuk-heading-xl">Default page template</h1>
      {% endblock %}

      {% block footer %}
        {% include "includes/home-accessibility-footer.html" %}
      {% endblock %}
    </body>
  </html>