<div class="digital-forms-loader" id="{{params.id}}">
  <div class="loaderpopup pop" id="{{params.id}}" role="dialog" aria-labelledby="navigationDialog">
    <div class="pop_logo govuk-grid-column-full">
      <div class="loading loading--full-height"></div>
      <p id="{{params.id}}_text" class="loadertext govuk-body" align=center> {{params.value}}</p>
    </div>
  </div>
</div>