.calculation-page-container {
    display: flex;
    flex-direction: column;
}

.add-edit-calculation-row {
    display: flex;
}

.compute-block-column {
    display: flex;
    flex-direction: column;
}
