.search-input-icon-box {
    font-size: 40px;
    color: white;
    background-color: #1d70b8;
    padding-block: 7px;
    bottom: 40px;
    left: 24rem;
    position: relative;
    :hover {
        cursor: pointer;
    }
}
